/* 一般的なリセット */
/* すべての要素に対する基本的なスタイルリセット */
* {
    margin: 0;            /* すべての要素の外側の余白を0に設定 */
    padding: 0;           /* すべての要素の内側の余白を0に設定 */
    box-sizing: border-box; /* ボックスのサイズ計算方法を、ボーダーを含めたサイズに設定 */
}

body {
    font-family: 'Roboto', sans-serif;  /* ボディのフォントを'Roboto'に設定し、利用不可の場合はsans-serifフォントにフォールバック */
    font-size: 16px;                    /* ボディの基本フォントサイズを16pxに設定 */
    line-height: 1.5;                   /* テキストの行の高さをフォントサイズの1.5倍に設定 */
    background-color: #000;             /* ボディの背景色を黒に設定 */
    margin: 0;                          /* ボディの外側の余白を0に設定 */
    padding: 0;                         /* ボディの内側の余白を0に設定 */
}





/* ヘッダー全体のスタイル */
#mainHeader {
    background-color: #F4F5F7; /* ヘッダーの背景色を明るい灰色（コメントには「白」とありますが、#F4F5F7は明るい灰色です）に設定 */
    color: #000;               /* ヘッダー内のテキスト色を黒に設定 */
    width: 100%;               /* ヘッダーの幅をページ全体の100%に設定 */
    position: fixed;           /* ヘッダーをページ上部に固定 */
    top: 0;                    /* ヘッダーの上辺をページの上部に合わせる */
    z-index: 1000;             /* z-indexを高く設定し、他の要素の上にヘッダーを表示する */
    padding: 10px 20px;        /* ヘッダーの内部に上下に10px、左右に20pxのスペース（パディング）を追加 */
    transition: transform 0.3s; /* transformプロパティの変更を0.3秒でスムーズに遷移させる */
    display: flex;             /* ヘッダー内の要素をflexboxで並べる */
    justify-content: space-between; /* ヘッダー内の主要な要素とナビゲーションの間に均等のスペースを追加 */
    align-items: center;       /* ヘッダーの高さ方向の中央に要素を配置 */
}


#mainHeader.hide {
    transform: translateY(-100%); /* ヘッダーを縦方向にその高さ分だけ上に移動（スライド）させる */
}


/* ナビゲーションのスタイル */
nav ul {
    list-style: none;       /* 通常の順序なしリストに表示される点やマークを削除 */
    padding: 0;             /* リストの内部の余白（パディング）をリセット（0に設定） */
    margin: 0;              /* リストの外部の余白（マージン）をリセット（0に設定） */
    display: flex;          /* リストアイテム（<li>タグ）を横並びに表示するためのFlexboxを使用 */
    justify-content: flex-end; /* Flexboxを使用してリストアイテムをコンテナの右端に配置 */
}


nav ul li {
    margin: 0 15px;         /* 上下にはマージンを追加せず、左右に15ピクセルのマージンを設定。これにより、リストアイテム間にスペースが生まれる */
}

nav ul li a {
    color: #000;           /* リンクのテキスト色を黒に設定 */
    text-decoration: none;  /* リンクの下線を削除 */
    transition: color 0.3s; /* リンクの色が変わるときの遷移（アニメーション）を0.3秒間で行う */
    letter-spacing: -0.5px;  /* リンクの文字間隔を0.5ピクセルだけ狭める */
}

nav ul li a:hover {
    color: #ff6600;         /* リンクにマウスカーソルが合わさった（ホバーした）時のテキスト色をオレンジ色に変更 */
}

nav ul li a::after {
    content: "";            /* 空のコンテンツを追加。これにより、リンクの下に線を表示する効果を実現 */
    display: block;         /* ブロックレベル要素として表示 */
    width: 0;               /* 初期状態では線の幅を0に設定（見えない状態） */
    height: 2px;            /* 線の太さを2ピクセルに設定 */
    background: #ff6600;    /* 線の色をオレンジ色に設定 */
    transition: width 0.3s; /* 線の幅が変わるときの遷移（アニメーション）を0.3秒間で行う */
    margin: 5px auto 0;     /* 線の上に5ピクセルのマージンを設定。左右のマージンは自動（中央揃え） */
}


nav ul li a:hover::after {
    width: 100%; /* リンクにマウスカーソルが合わさった（ホバーした）時に、下の線の幅を100%に拡大する。 */
}

/* CONTACT リンクの線の効果を取り除く */
.contact-link::after {
    display: none; /* ".contact-link" の下の線を非表示にする */
}

/* コンタクトのリンクの初期状態 */
.contact-link {
    background-color: #ff6600; /* オレンジ色の背景を設定 */
    color: #fff;               /* テキスト色を白に設定 */
    border: 2px solid #ff6600; /* 2ピクセルのオレンジ色のボーダーを設定 */
    padding: 5px 10px;         /* 内部のスペースを設定（上下5ピクセル、左右10ピクセル） */
    border-radius: 5px;        /* ボーダーの角を少し丸くする */
    transition: background-color 0.3s, color 0.3s; /* 背景色と文字色が変わるときの遷移（アニメーション）を0.3秒間で行う */
}

/* コンタクトのリンクにカーソルを合わせた時の変化 */
.contact-link:hover {
    background-color: #fff; /* 背景色を白に変更 */
    color: #ff6600;         /* テキスト色をオレンジ色に変更 */
}




/* トップページのメインコンテンツ部分のスタイル */
#home {
    background-color: #000; /* 背景色を黒に設定 */
    background-size: cover; /* 背景画像を要素のサイズに合わせてカバーするように設定 */
    background-repeat: no-repeat; /* 背景画像を繰り返さないようにする */
    background-position: center center; /* 背景画像の位置を中央に設定 */
    min-height: 100vh; /* 最小高さをビューポートの高さの100%に設定 */
    margin-bottom: 0;   /* トップページの下部の余白を0に設定 */
    padding-bottom: 0; /* トップページの下部のパディングを0に設定 */
    display: flex;   /* Flexboxコンテナとして要素を表示 */
    flex-direction: column;   /* Flexboxの要素を縦方向に配置 */
    align-items: flex-start;   /* 子要素を左側に揃える */
    padding-left: 20px;   /* 左側の内部間隔を20ピクセルに設定 */
}


#home h1 {
    font-size: 1.5rem;   /* フォントサイズを1.5remに設定 */
    color: #fff; /* テキストの色を白に設定 */
    text-align: left;   /* テキストを左揃えに設定 */
    margin: 20px 0;   /* 上下に20pxのマージンを設定し、左右は0に設定 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストに影を追加。右に2px、下に2pxのオフセットと、半透明の黒色のぼかしを4pxで設定 */
    opacity: 0;  /* テキストの不透明度を0に設定して、初期状態で見えなくする */
    animation-name: slideUp; /* アニメーションの名前を「slideUp」として指定 */
    animation-duration: 2s; /* アニメーションの持続時間を2秒に設定 */
    animation-fill-mode: forwards;  /* アニメーション終了後も終了時点のスタイルを保持するように設定 */
    animation-play-state: paused;   /* アニメーションは初期状態で一時停止している */
}


#home img {
    display: block;        /* 画像をブロック要素として表示 */
    max-width: 100%;       /* 画像の最大幅を親要素の100%に制限 */
    margin: 0 auto;        /* 上下のマージンは0、左右は自動(中央寄せの効果) */
    margin-bottom: 30px;   /* 下部のマージンだけ30pxに設定 */
}


#home p {
    font-size: 1rem;                 /* テキストのフォントサイズを1remに設定 */
    color: #fff;                    /* テキストの色を白に設定 */
    text-align: left;               /* テキストを左揃えに設定 */
    margin: 20px 0;                 /* 上下に20pxのマージンを設定し、左右のマージンは0に設定 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* テキストに影を追加。2px右、2px下、4pxのぼかしで半透明の黒色を使用 */
    opacity: 0;                     /* テキストを初期状態で透明に設定 */
    animation-name: slideUp;        /* アニメーションの名前を"slideUp"に設定 */
    animation-duration: 2s;        /* アニメーションの持続時間を2秒に設定 */
    animation-fill-mode: forwards;  /* アニメーションが終了した後のスタイルを維持するように設定 */
    animation-play-state: paused;   /* アニメーションを一時停止状態に設定 */
}


#slideshow {
    position: relative;       /* 要素の位置を他の要素に対して相対的に設定 */
    width: 100vw;             /* 要素の幅をビューポートの100%に設定 */
    height: 100vh;            /* 要素の高さをビューポートの100%に設定 */
    overflow: hidden;         /* 要素の外側にはみ出たコンテンツを非表示にする */
    margin-left: -37px;       /* 要素の左側のマージンを-37pxに設定 */
}

.slideshow-content {
    position: absolute;       /* 親要素(#slideshow)に対して絶対位置を指定 */
    bottom: 10%;              /* 要素の下辺を親要素の下辺から10%の位置に設定 */
    left: 0%;                /* 要素の左辺を親要素の左辺に合わせる */
    color: #fff;             /* テキストの色を白に設定 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* テキストに2px右、2px下に影をつけ、ぼかしは4pxで、色は半透明の黒に設定 */
    z-index: 2;              /* 他の要素に被らないようにz-indexを2に設定 */
    margin: 0 10%;           /* 上下のマージンは0にし、左右のマージンは10%に設定 */
}


#slideshow .slide {
    position: absolute;               /* 要素の位置を親要素(#slideshow)に対して絶対的に設定 */
    top: 0;                          /* 要素の上辺を親要素の上辺に合わせる */
    left: 0;                         /* 要素の左辺を親要素の左辺に合わせる */
    width: 100%;                     /* 要素の幅を親要素の100%に設定 */
    height: 100%;                    /* 要素の高さを親要素の100%に設定 */
    opacity: 0;                      /* 初期状態では要素を完全に透明にする */
    transition: opacity 1.5s, transform 1.5s;  /* 透明度と変形の遷移効果を1.5秒で適用 */
    transform: scale(1.1);           /* 初期状態では要素を1.1倍に拡大 */
    z-index: 1;                      /* 他の要素に被らないようにz-indexを1に設定 */
}

#slideshow .slide img {
    width: 100%;                     /* 画像の幅を親要素(.slide)の100%に設定 */
    height: 100vh;                   /* 画像の高さをビューポートの100%に設定 */
    object-fit: cover;               /* 画像のアスペクト比を維持しながら要素にフィットさせ、余白を持たせない */
    object-position: center;         /* 画像の中心を要素の中心に合わせる */
}

#slideshow .slide.active {
    opacity: 1;                      /* アクティブなスライドを完全に不透明にする */
    transform: scale(1);             /* アクティブなスライドの拡大を元に戻す */
    z-index: 2;                      /* アクティブなスライドを他のスライドよりも前面に表示 */
}

.cta-container {
    text-align: left;                /* テキストを左寄せにする */
}




section {
    padding: 40px 20px;          /* セクションの内部に上下40px、左右20pxの余白を設定 */
    background-color: #fff;     /* セクションの背景色を白に設定 */
    margin-bottom: 20px;        /* セクションの下側に20pxのマージンを設定 */
}

.cta-button {
    display: inline-block;      /* インラインブロックとして表示。要素のサイズをコンテンツに合わせる */
    padding: 10px 20px;         /* ボタンの内部に上下10px、左右20pxの余白を設定 */
    background-color: #ff6600;  /* ボタンの背景色をオレンジ色に設定 */
    color: #fff;                /* テキストの色を白に設定 */
    text-decoration: none;      /* テキストの下線を削除 */
    border-radius: 5px;         /* ボタンの角を少し丸くする */
    transition: background-color 0.3s;  /* 背景色の遷移効果を0.3秒で適用 */
}

.cta-button:hover {
    background-color: #ff8a40;  /* ホバー時のボタンの背景色をやや明るいオレンジ色に変更 */
}

.scrolldown1 {
    position: absolute;         /* 要素の位置を親要素に対して絶対的に設定 */
    left: 50%;                  /* 親要素の中央に位置させる */
    bottom: 10px;               /* 親要素の下辺から10pxの位置に設定 */
    height: 50px;               /* 要素の高さを50pxに設定 */
    z-index: 100;               /* 要素を他の要素の上に表示するためのz-index */
}


/*Scrollテキストの描写*/
.scrolldown1 span {
    position: absolute;     /* 親要素（.scrolldown1）に対して絶対位置を指定 */
    left: -15px;            /* 親要素の左側から-15pxの位置に配置（親要素の外側に出る） */
    top: -15px;             /* 親要素の上側から-15pxの位置に配置（親要素の外側に出る） */
    color: #eee;            /* テキストの色を明るいグレーに設定 */
    font-size: 0.7rem;      /* フォントサイズを0.7remに設定 */
    letter-spacing: 0.05em; /* 文字間隔を少し広げる */
}

/* 線の描写 */
.scrolldown1::after {
    content: "";            /* 親要素に何も内容を持たない疑似要素を追加 */
    position: absolute;     /* 親要素（.scrolldown1）に対して絶対位置を指定 */
    top: 0;                 /* 親要素の上側からの位置を0に設定 */
    width: 1px;             /* 線の幅を1pxに設定 */
    height: 30px;           /* 線の長さを30pxに設定 */
    background: #eee;       /* 線の色を明るいグレーに設定 */
    animation: pathmove 1.4s ease-in-out infinite; /* 無限に繰り返される1.4秒のアニメーションを適用 */
    opacity: 0;             /* 要素の透明度を0（完全に透明）に設定 */
}


/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
    0% {
        height: 0;        /* 線の高さが0 */
        top: 0;           /* 線の上端の位置が親要素の上端と同じ */
        opacity: 0;       /* 完全に透明 */
    }
    30% {
        height: 30px;     /* 線の高さが30pxまで伸びる */
        opacity: 1;       /* 完全に不透明 */
    }
    100% {
        height: 0;        /* 線の高さが再び0になる */
        top: 50px;        /* 線の上端の位置が親要素の上端から50px下がる位置に移動 */
        opacity: 0;       /* 再び完全に透明 */
    }
}


@keyframes slideUp {
    from {
        opacity: 0;                 /* 完全に透明 */
        transform: translateY(50px); /* 要素の位置が50px下に移動している状態 */
    }
    to {
        opacity: 1;                 /* 完全に不透明 */
        transform: translateY(0);    /* 元の位置に戻る */
    }
}


/* サークルについてのセクションのスタイル */
#about {
    background: #F4F5F7;       /* 背景色は明るいグレー */
    padding: 40px 40px;         /* セクションの四辺に40pxの余白を追加 */
    margin: 20px 0;             /* セクションの上下に20pxの外部余白を追加 */
    position: relative;         /* 子要素に絶対位置を設定するための基準として使用 */
    z-index: 1;                 /* 他の要素との重なり順序を制御。値が大きいほど前面に配置されます */
    margin-top: 0;              /* 上部の外部余白を0に設定 */
    margin-bottom: 0;           /* 下部の外部余白を0に設定 */
    padding-bottom: 60px;       /* 下部の内部余白を60pxに設定。要素のコンテンツと境界の間のスペースを追加 */
    overflow-x: hidden;         /* 横方向のオーバーフロー（はみ出るコンテンツ）を非表示にする */
    width: 100%;                /* セクションの幅を親要素の100%に設定 */
}


#about h2 {
    font-size: 50px;           /* 文字のサイズを50pxに設定 */
    margin-bottom: -40px;      /* 下部の外部余白を-40pxに設定。これにより次の要素との距離を縮小 */
    color: #ff6600;            /* オレンジ色の文字色 */
    padding-bottom: 10px;      /* 下部の内部余白を10pxに設定 */
    text-align: left;          /* テキストを左揃えに設定 */
    position: relative;        /* 要素の位置を微調整するための基準として使用 */
    z-index: 2;                /* #about よりも前面に表示するためのz-indexの値。#aboutのz-indexよりも大きい */
    align-self: flex-start;    /* Flexboxの子要素として、この要素を開始位置（左端）に配置 */
}


#about h3 {
    font-size: 24px;            /* 文字のサイズを24pxに設定 */
    margin-bottom: 20px;        /* 下部の外部余白を20pxに設定 */
    color: #333;                /* 濃いグレーの文字色 */
    padding-bottom: 10px;       /* 下部の内部余白を10pxに設定 */
    text-align: center;         /* テキストを中央揃えに設定 */
    opacity: 0;                 /* 要素の初期状態の透明度を0（完全に透明）に設定 */
    animation-name: slideUp;    /* "slideUp"というアニメーションを適用 */
    animation-duration: 2s;     /* アニメーションの全体の実行時間を2秒に設定 */
    animation-fill-mode: forwards; /* アニメーションが終了した後、終了状態のスタイルを維持 */
    animation-play-state: paused;  /* 初期状態ではアニメーションを一時停止 */
}

#about p {
    font-size: 16px;               /* 文字のサイズを16pxに設定 */
    color: #333;                   /* 濃いグレーの文字色に設定 */
    line-height: 1.6;              /* 文字の行間を1.6倍に設定 */
    padding: 50px;                 /* テキストの全方向の内部余白を50pxに設定 */
    opacity: 0;                    /* 要素の初期状態の透明度を0（完全に透明）に設定 */
    animation-name: slideUp;       /* "slideUp"というアニメーションを適用 */
    animation-duration: 2s;        /* アニメーションの全体の実行時間を2秒に設定 */
    animation-fill-mode: forwards; /* アニメーションが終了した後、終了状態のスタイルを維持 */
    animation-play-state: paused;  /* 初期状態ではアニメーションを一時停止 */
}


#about .about-content {
    display: flex;     /* フレックスボックスを利用して内容を横並びにします。 */
    align-items: center; /* 内容を垂直方向の中央に配置します。 */
}

#about .about-text {
    flex: 1;           /* 文章と写真の間にスペースを均等に分配します。 */
    padding-left: 40px; /* 文章と写真の間に余白を追加します。 */
    order: 2;          /* フレックスボックス内での表示順序を2に設定 */
}

#about .about-image {
    flex: 1;           /* 文章と同じ比率でスペースを取ります。 */
    overflow: hidden;  /* オーバーフローを隠します（画像が大きすぎる場合に備えて）。 */
    order: 1;          /* フレックスボックス内での表示順序を1に設定 */
}

#about .about-image img {
    width: 100%;       /* 画像をコンテナの幅にフィットさせます。 */
    height: auto;      /* 画像の高さを自動にします。 */
}
/* 初期状態：写真を右に移動させ、透明度を0に設定 */
#about .about-image.initial {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s, opacity 1s; 
}

/* アニメーション終了時の状態：写真を元の位置に戻し、透明度を1に設定 */
#about .about-image.animate {
    transform: translateX(0);
    opacity: 1;
}

/* 活動内容セクションのスタイル */
#activities {
    background-color: #F4F5F7;   /* 薄いグレーの背景 */
    padding: 40px 20px;         /* 内側の余白 */
    margin: 20px 0;             /* 上下の余白 */
    margin-top: 0;      /* 上部の余白を0に */
    margin-bottom: 0;
    padding-bottom: 60px; /* この値はお好みに応じて調整してください */
    position: relative;  /* 追加: このセクション内での絶対的なポジションの基準点を設定 */
}

#activities h2 {
    position: absolute;        /* 絶対的なポジションを追加 */
    top: -5px;  /* この値を調整して、h2の位置を変更します */
    left: 20px;  /* この値を調整して、h2の位置を変更します */
    font-size: 50px;           /* 見出しのフォントサイズ */
    margin-bottom: 20px;       /* 見出しの下の余白 */
    color: #ff6600;               /* 見出しの文字色 */
    padding-bottom: 10px;      /* ボーダーと見出しの間の余白 */
    z-index: 10;  /* 必要に応じてこの値を調整して、h2が他の要素よりも前に表示されるようにします */
}

#activities ul {
    list-style-type: square;    /* リストマークとして四角を使用 */
    margin-left: 30px;          /* リストの左の余白 */
}

#activities li {
    font-size: 16px;            /* リスト項目のフォントサイズ */
    color: #333;                /* リスト項目の文字色 */
    margin-bottom: 10px;        /* リスト項目間の余白 */
    line-height: 1.6;           /* リスト項目の行間 */
}

.slide {
    position: relative;        /* 相対的なポジションを追加 */
    text-align: center;
}

.slide img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0 auto; /* 上右下左の順でマージンを指定 */
}

.slide h3 {
    margin-top: 20px;  /* 上の間隔を20pxに設定 */
    margin-bottom: 20px;  /* 下の間隔を20pxに設定 */
    color: #333;
    line-height: 1.6;  /* テキストの行間 */
}

.slide p {
    margin-top: 5px;
    color: #333;
    text-align: center;
}


/*ニュースセクション*/
#news {
    background-color: #F4F5F7;   /* 薄いグレーの背景 */
    padding: 40px 20px;         /* 内側の余白 */
    margin: 20px 0;             /* 上下の余白 */
    margin-top: 0;      /* 上部の余白を0に */
    margin-bottom: 0;
    padding-bottom: 60px; /* この値はお好みに応じて調整してください */
}

#news h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ff6600; /* Dark grey */
}

.tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.tab li {
    list-style-type: none;
}

.tab li a {
    display: block;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
}

.tab li a:hover {
    background-color: #454545;
}

.tab li.active a {
    background-color: #1d1d1d;
    cursor: default;
}

.area {
    display: none;
}

.area.is-active {
    display: block;
}

.area h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.area ul {
    list-style-type: none;
}

.area li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.area li:last-child {
    border-bottom: none;
}

/* 追加されたCSS */
#news .area ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

#news .area li a {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

#news .area li:first-child a {
    border-top: 1px solid #CCC;
}

#news .area li .date {
    margin: 0;
    min-width: 120px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

#news .area li .title {
    margin: 0;
    width: 100%;
}

#news .area li a:hover .title {
    color: #ff8a40;
}

@media screen and (max-width: 767px) {
    #news .area li a {
        flex-wrap: wrap;
    }

    #news .area li .date {
        min-width: 100px;
    }

    #news .area li .title {
        margin-top: 10px;
    }
}



/* 参加方法セクション全体のスタイル */
#join {
    background-color: #F4F5F7;  
    padding: 40px 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 60px;
    font-family: 'Noto Sans JP', sans-serif; /* 例: Google FontsのNoto Sans JP */
    overflow-x: hidden; 
}

#join h2 {
    font-size: 26px; /* フォントサイズを少し大きく */
    color: #2c3e50; /* 濃い色に変更 */
    margin-bottom: 30px;
    padding-bottom: 10px;
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 参加手順リストのスタイル */
.join-steps {
    background: linear-gradient(135deg, #f9f9f9 0%, #e8e8e8 100%); 
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05); 
    margin-bottom: 25px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
}

.join-steps li {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
    position: relative;
    padding-left: 30px; /* アイコンのスペースを作るためのパディング */
    background-color: #FFFFFF; /* 白色の背景 */
    border-radius: 12px; /* 角を丸くする */
    padding: 10px 15px; /* 内部の余白 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); /* 影を追加 */
    margin-bottom: 10px; /* 下部の余白を追加 */
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
}

.join-steps li.active {
    opacity: 1;
    transform: translateX(0);
    animation: slideInRight 1.5s forwards; /* 0.5s を 1.5s に変更 */
}


/* リストの前にアイコンを追加 */
.join-steps li:before {
    content: '●'; /* お好みのアイコンを使用 */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ff8a40; /* アイコンの色 */
}

/* 注意事項のスタイル */
.join-notes h4,
.contact-info h4 {
    font-size: 22px; /* フォントサイズを少し大きく */
    color: #333; /* 色を変更 */
    margin-top: 0;
    margin-bottom: 15px;
}

.join-notes ul {
    list-style-type: none; /* リストマークをなしに */
    padding: 0;
}

.join-notes li {
    background: linear-gradient(135deg, #f9f9f9 0%, #e8e8e8 100%);
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    transition: all 1.5s;  /* 0.3s を 1.5s に変更 */
    opacity: 0;
    transform: translateX(100%); /* 横からのアニメーション */
}

.join-notes li.active {
    opacity: 1;
    transform: translateX(0);
}




/* 連絡先情報のスタイル */
.contact-info {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}


.contact-info p {
    font-size: 18px;
    color: #333; /* 色を変更 */
    margin-bottom: 10px;
    background-color: #FFFFFF; /* 白色の背景 */
    border-radius: 12px; /* 角を丸くする */
    padding: 10px 15px; /* 内部の余白 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); /* 影を追加 */
    display: inline-block; /* ブロック要素のように表示 */
    margin-bottom: 10px; /* 下部の余白を追加 */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: color 0.3s;
}

.contact-info a {
    font-size: 18px;
    color: #e67e22; /* 色を変更 */
    text-decoration: none;
    transition: color 0.3s;
    border-bottom: 1px dashed #e67e22; /* 下線を追加 */
    background-color: #FFFFFF; /* 白色の背景 */
    border-radius: 12px; /* 角を丸くする */
    padding: 10px 15px; /* 内部の余白 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); /* 影を追加 */
    display: inline-block; /* ブロック要素のように表示 */
    margin-bottom: 10px; /* 下部の余白を追加 */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact-info a:hover {
    color: #c34113; /* ホバー時の色を少し濃く */
}


/* FAQセクションのスタイル */
#faq {
    background-color: #F4F5F7;     /* 白色の背景 */
    padding: 40px 20px;         /* 内部の余白 */
    margin-top: 0;      /* 上部の余白を0に */
    margin-bottom: 0;
    padding-bottom: 60px; /* この値はお好みに応じて調整してください */
    
}

#faq h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

/* 各FAQ項目のスタイル */
.stylish {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* 丸みを追加 */
}

.accordion-button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    padding: 12px 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    background: linear-gradient(145deg, #f3f4f6, #e1e2e4); /* グラデーションを追加 */
    margin-bottom: 10px; /* 余白の追加 */
}

.accordion-button:hover {
    background: linear-gradient(145deg, #e1e2e4, #f3f4f6);
}

.icon {
    position: absolute;
    right: 20px;
    transition: transform 0.3s;
    font-size: 18px;
}

.accordion-button.active .icon {
    transform: rotate(45deg);
}

.accordion-content {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    padding: 10px 20px;
    background: #f7fafc; /* 軽い背景色 */
    margin-bottom: 10px;
}


/* お問い合わせセクションのスタイル */
#contact {
    background-color: #F4F5F7;     /* 薄灰色の背景 */
    padding: 40px 20px;            /* 内部の余白 */
    margin-top: 0;      /* 上部の余白を0に */
    margin-bottom: 0;
    padding-bottom: 60px; /* この値はお好みに応じて調整してください */
}

#contact h2 {
    font-size: 40px;
    color:#ff6600;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#contact p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

/* フォーム関連のスタイル */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  /* パディングとボーダーを含む全体の幅を調整 */
}

.form-group textarea {
    resize: vertical;  /* 垂直方向にだけリサイズ可能にする */
}

.form-group input[type="submit"] {
    background-color: #ff8a40;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #ff8a40;
}

/* フッターセクションのスタイル */
#mainFooter {
    background-color: #2e2e2e;   /* 濃い灰色の背景 */
    color: #ffffff;              /* 白色のテキスト */
    padding: 40px 20px;          /* 内部の余白 */
}

.footer-content {
    display: flex;               /* フレックスボックスを使用して内容を横並びに */
    justify-content: space-between; /* 各セクションを均等に配置 */
    flex-wrap: wrap;             /* 必要に応じて内容を折り返し */
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    min-width: 200px;           /* 各セクションの最小幅 */
}

.footer-section h3 {
    border-bottom: 2px solid  #ff8a40;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ff8a40;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

/* Font Awesome ソーシャルアイコンの基本スタイル */
.fab {
    font-size: 20px;
    color: #ff8a40;
    transition: color 0.3s;
}

.fab:hover {
    color: #ff8a40;
}
